.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like-disabled.svg);
    background-color: #FFFFFF;
    border: 0;
    margin-right: 20px;
    align-self: center;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}