.popup__input {
    width: 358px;
    height: 27px;
    margin: 0 auto 30px;
    border-top: 0;
    border-right: 0;
    border-bottom: solid 1px rgb(0, 0, 0, 0.2);
    border-left: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width:768px) {
    .popup__input {
        width: 238px;
    }
}