.profile__edit {
    width: 24px;
    height: 24px;
    border: solid 1px #FFFFFF;
    background-color: black;
    background-image: url(../../../images/pencil.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 17px;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width:768px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        background-size: 7.5px;
        margin-top: 9px;
    }
}