.elements {
    display: grid;
    margin-top: 51px;
    gap: 20px 17px;
    
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: space-evenly;
}

@media screen and (max-width:768px) {
    .elements {
        margin-top: 36px;
    }
}