.profile__info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 22px 30px auto;
    gap: 16px 18px;
    padding: 0;

    overflow: hidden;
}

@media screen and (max-width:768px) {
    .profile__info {
        margin: 26px auto 0;
        padding-left: 32px;
    }
}